body {
  background: white;
  position: relative;
  margin: 0;
  font-family: verdana, arial, helvetica, sans-serif;
}

/* Animations */

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating .5s linear infinite;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1.0;
  }
}

.fade-in {
  animation: fadeIn .5s linear infinite;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

/* Errors */

.error-box {
	position: absolute;
	right: 20px;
	background: #f50057;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #c51162;
}

/* Alien */
.alien:not(.rotating):hover {
    cursor: pointer;
    opacity: 0.8;
}

.alien.rotating {
  cursor: not-allowed;;
}

/* Loading */

.loading {
  font-size: larger;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4,end) .5s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

/* Links */

a {
	color: #369;
  text-decoration: none;
}

a:visited,
a:active {
	color: #369;
}

/* Content */

.content {
  text-align: center;
}

/* Menu */

.menu {
	background: #CEE3F8;
	padding: 3px;
	border-bottom: 1px solid #5F99CF;
}

.viz-container,
.menu {
  min-width: 1200px;
  width: 100%;
}

/* Tab & Chart Menu */

.tabmenu,
.chartmenu {
	list-style-type: none;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
	margin-bottom: -3px;
  vertical-align: bottom;
	font-size: small;
}

.tabmenu li,
.chartmenu li {
	display: inline;
  font-weight: bold;
  margin: 0px 3px;
}

.chartmenu li {
  font-size: smaller;
}

.tabmenu li a {
	top-left-radius: 5px;
  top-right-radius: 5px;
	padding: 2px 6px 0 6px;
  background-color: #eff7ff;
}

.tabmenu li.selected a {
	color: orangered;
  background-color: white;
  border: 1px solid #5f99cf;
  border-bottom: 1px solid white;
  z-index: 100;
}

.github {
	font-size: small;
	float: right;
	margin-right: 5px;
}

/* viz-container */

.viz-container {
  animation: fade-in .3s;
  background: white;
  height: 600px;
  border-radius: 3px;
  margin-top: 10px;
}

.viz-container .no-event {
  pointer-events: none;
}

.viz-container svg {
	width: inherit;
	height: inherit;
}

.viz-container text {
  font-size: 10px;
}

.viz-container .viz {
	position: absolute;
	width: inherit;
	height: inherit;
}

/* Tooltip */
.d3-tip {
  transition: opacity .2s ease-in-out;
  line-height: 1;
  font-size: 10px;
  font-weight: bold;
  font-family: monospace;
  padding: 5px;
  background: orangered;
  color: white;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: orangered;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Axis */

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #263238;
  fill: none;
}

.axis g.tick {
	fill: #263238;
}

text.axis-text {
  text-anchor: end;
  fill: #263238;
  font-weight: bold;
  font-size: 12px;
}

/* Bar */
.g-bar rect {
  fill: #CCCCCC;
  width: 1px;
}

/* Brush */
.g-brush rect {
  fill: #B3CCE6;
  height: 30px;
}

.g-brush rect.data {
  width: 1px;
}

.g-brush rect.brushed {
  fill: #FFAE1A;
}

.g-brush rect.background {
  fill: #F7F7F7;
  stroke: #CCCCCC;
  visibility: visible !important;
}

.g-brush rect.extent {
  fill: #F8ECB6;
  stroke: #FFAE1A;
  visibility: visible !important;
}

.g-brush .resize rect {
  fill: #808080;
  visibility: visible !important;
  width: 5px;
}

/* Line */
.g-line path {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 2px;
  transition: all .2s ease-in-out;
}

/* Scatter */
.g-scatter circle {
  fill: #808080;
  stroke: black;
  r: 5;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.g-scatter circle:hover {
  fill: #F8ECB6;
  stroke: #FFAE1A;
  r: 10;
}
