body {
  background: white;
  position: relative;
  margin: 0;
  font-family: normal x-small verdana,arial,helvetica,sans-serif;
	height: 680px;
	width: 1280px;
}

body.loading * {
  cursor: progress !important;
}

/* Animations */

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating .5s linear infinite;
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1.0;
  }
}

.fade-in {
  animation: fadeIn .5s linear infinite;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

/* Errors */

.error-box {
	position: absolute;
	right: 20px;
	background: #FFEDED;
	padding: 20px;
	border: 1px solid #FF4A4A;
  z-index: 1;
	margin: 15px;
}

/* Loading */

.loading-box {
  font-size: 30px;
  position: absolute;
  z-index: 2;
  margin: 0;
  left: 25%;
  top: 50%;
  animation: fade-in 1s infinite linear;
}

/* Links */

a {
	color: #369;
  text-decoration: none;
  cursor: pointer;
}

a:visited,
a:active {
	color: #369;
}

/* Content */

.content {
  text-align: center;
}

/* Menu */

.menu {
	background: #CEE3F8;
	padding: 3px;
	border-bottom: 1px solid #5F99CF;
  width: 100%;
  height: 24px;
}

.menu-left,
.menu-right {
	position: relative;
	float: left;
}

.menu-left {
	width: 780px;
}

.menu-right {
	bottom: -6px;
}

/* Tab & Chart Menu */

.tabmenu,
.chartmenu {
	list-style-type: none;
  white-space: nowrap;
  display: inline-block;
  margin: 0;
	margin-bottom: -3px;
  vertical-align: bottom;
	font-size: small;
  padding: 0;
}

.tabmenu li,
.chartmenu li {
	display: inline;
  font-weight: bold;
  margin: 0px 3px;
}

.chartmenu li {
  font-size: smaller;
}

.tabmenu li a {
	top-left-radius: 5px;
  top-right-radius: 5px;
	padding: 2px 6px 0 6px;
  background-color: #eff7ff;
}

.tabmenu li.selected a {
	color: orangered;
  background-color: white;
  border: 1px solid #5f99cf;
  border-bottom: 1px solid white;
  z-index: 100;
}

.timespan {
	position: absolute;
	z-index: 1;
	right: 3px;
	top: 10px;
	font-size: 16px;
  font-weight: bold;
}

.github {
	font-size: small;
	float: right;
	margin-right: 5px;
}

/* containers */

.containers {
  width: 1270px;
}

.viz-container {
  position: relative;
  animation: fade-in .3s;
  background: white;
  height: 665px;
  border-bottom: 1px solid #7E7E7E;
  margin-top: 5px;
}

.viz-container.left {
  float: left;
  margin-left: 5px;
  width: 774px;
}

.viz-container.right {
  float: right;
  width: 500px;
  height: 670px;
  border-left: 1px solid #7E7E7E;
	margin-top: 0;
  overflow: hidden;
}

.viz-container .no-event {
  pointer-events: none;
}

.viz-container text {
  font-size: 10px;
}

.viz {
  position: absolute;
	width: inherit;
	height: inherit;
}

.viz svg {
  width: inherit;
  height: inherit;
}

.viz.bar,
.viz.line,
.viz.scatter {
	height: 600px;
}

.viz.scatter {
	z-index: 1;	 /* so hovering works */
}

.viz.brush {
	height: 50px;
}

/* Axis */

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #263238;
  fill: none;
}

.axis g.tick {
	fill: #263238;
}

text.axis-text {
  text-anchor: end;
  fill: #263238;
  font-weight: bold;
  font-size: 12px;
}

/* Bar */
.g-bar rect {
  fill: #CCCCCC;
  width: 1px;
}

/* Brush */
.g-brush rect {
  fill: #7E7E7E;
  height: 30px;
}

.g-brush rect.data {
  width: 1px;
}

.g-brush rect.brushed {
  fill: #FFAE1A;
}

.g-brush rect.background {
  fill: #CCCCCC;
  stroke: #7E7E7E;
  visibility: visible !important;
}

.g-brush rect.extent {
  fill: #F8ECB6;
  stroke: #FFAE1A;
  visibility: visible !important;
}

.g-brush .resize rect {
  fill: #808080;
  visibility: visible !important;
  width: 5px;
}

.g-brush rect.highlighted {
  fill: #F8ECB6;
  stroke: #FFAE1A;
}

/* Histogram */
.viz.histogram {
  height: inherit;
	margin-top: 3px;
  transition: margin-left .3s ease-in-out;
  margin-left: 0;
}

.viz.histogram.hide {
	margin-left: 500px;
}

/* Line */
.g-line path {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 1px;
}

/* Scatter */
.g-scatter circle {
  fill: #808080;
  stroke: black;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.g-scatter circle.highlighted {
  fill: #F8ECB6;
  stroke: #FFAE1A;
}

/* Table */
.viz.table {
  height: inherit;
	margin-top: 3px;
  transition: margin-left .3s ease-in-out;
  margin-left: 0;
}

.viz.table.hide {
	margin-left: 500px;
}

.viz.table .table {
  overflow-y: scroll;
  height: inherit;
}

.viz.table .row {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.viz.table .row.highlighted {
  background-color: #F8ECB6;
  border-top: 1px solid #FFAE1A;
  border-bottom: 1px solid #FFAE1A;
}

.viz.table .row {
  margin-bottom: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ececec;
}

.viz.table .voted {
	width: 5.1ex;
  font-weight: bold;
  font-size: small;
  float: left;
  margin-right: 7px;
  margin-left: 7px;
  background: transparent;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.viz.table .arrow {
	margin: 2px 0px 0px 0px;
  height: 14px;
  display: block;
  cursor: pointer;
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.viz.table .arrow.up {
	background-image: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);
  background-position: -42px -865px;
  background-repeat: no-repeat;
}

.viz.table .arrow.down {
  background-image: url(https://www.redditstatic.com/sprite-reddit.ZDiVRxCXXWg.png);
  background-position: 0px -865px;
  background-repeat: no-repeat;
}

.viz.table .score {
	text-align: center;
  color: #c6c6c6;
}

.viz.table .score.likes,
.viz.table .score.dislikes {
  display: none;
}

.viz.table .score.likes {
	color: #FF8B60;
}

.viz.table .score.dislikes {
  color: #9494FF;
}

.viz.table .thumbnail {
  position: relative;
  float: left;
  font-size: 0;
  margin: 0;
  margin-right: 5px;
  margin-bottom: 2px;
  overflow: hidden;
  width: 70px;
}

.viz.table .thumbnail .overlay {
	position: absolute;
	font-size: 20px;
	background: rgba(0, 0, 0, .5);
	color: white;
	text-align: center;
	top: 0;
	height: 70px;
	width: 70px;
	transition: opacity .2s ease-in;
	opacity: 0;
}

.viz.table .thumbnail:hover .overlay {
	opacity: 1;
}

.viz.table .thumbnail .overlay span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.viz.table .thumbnail.no-preview {
	cursor: default;
}

.img-preview {
	position: absolute;
	z-index: 2;
	top: 30px;
	transition: background .3s ease-in;
	background: rgba(0, 0, 0, 0);
  width: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-preview img {
  max-height: 500px;
  max-width: 1100px;
	border: 1px solid black;
  opacity: 0;
  transition: opacity .3s ease-in,
              width .3s ease-in,
              height .3s ease-in-out;
}

.img-preview.visible {
	background: rgba(0, 0, 0, .7);
	height: inherit;
}

.img-preview.visible img {
  opacity: 1;
}

.viz.table .entry {
  overflow: hidden;
  margin-left: 3px;
  opacity: 1;
}

.viz.table .title {
	font-size: medium;
  font-weight: normal;
  margin-bottom: 1px;
  color: blue;
  outline: none;
  margin-right: .4em;
  padding: 0px;
  overflow: hidden;
}

.viz.table .title:visited {
	color: #551a8b;
}

.viz.table .domain {
  color: #888;
  font-size: x-small;
  white-space: nowrap;
}

.viz.table .domain:hover {
  text-decoration: underline;
}

.viz.table .tagline {
	color: #888;
  font-size: x-small;
}

.viz.table .author:hover {
  text-decoration: underline;
}
