body {
  background: #CEE3F8;
  color: #888;
  padding: 15px;
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
}

.loading-slider {
  position: absolute;
  width: 100%;
  height: 4px;
  right: 0;
  top: 0;
}

.loading-slider .line {
  position: relative;
  background: #42a5f5;
  width: 102%;
  left: -10px;
  top: -9px;
  height: 4px;
}

.loading-slider .break {
  position: absolute;
  background: #2196f3;
  width: 6px;
  height: 4px;
  top: -8px;
}

.loading-slider .dot1 {
  animation: loading 2s infinite;
}

.loading-slider .dot2 {
  animation: loading 2s 0.25s infinite;
}

.loading-slider .dot3 {
  animation: loading 2s 0.5s infinite;
}

@keyframes loading {
  from {
      left: 0;
  }
  to {
      left: 100%;
  }
}

@keyframes fade-in {
  from {
      opacity: 0;
  }
  to {
      opacity: 1.0;
  }
}

.error-box {
	position: absolute;
	right: 20px;
	background: #f50057;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #c51162;
}

.content {
  text-align: center;
}

.content .title {
  position: relative;
  float: left;
}

hr {
  border-color: #b0bec5;
}

a {
	color: #369;
  text-decoration: none;
}

a:visited,
a:active {
	color: #369;
}

a:hover {
  opacity: 0.8;
}

h2 {
  margin: 10px;
}

.viz-container {
  animation: fade-in .3s;
  background: white;
  width: 1200px;
  height: 600px;
  border: 1px solid #5F99CF;
  border-radius: 3px;
  margin-top: 10px;
}

.viz-container .no-event {
  pointer-events: none;
}

.viz-container svg {
	width: inherit;
	height: inherit;
}

.viz-container text {
  font-size: 12px;
}

/* Axis */

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #263238;
  fill: none;
}

.axis g.tick {
	fill: #263238;
}

text.axis-text {
  text-anchor: 'end';
  fill: #263238;
  font-weight: bold;
  font-size: 14px;
}

/* Bar */
.g-bar rect {
  fill: #CCCCCC;
  width: 1px;
}

/* Brush */
.g-brush rect {
  fill: #B3CCE6;
  height: 30px;
}

.g-brush rect.data {
  width: 1px;
}

.g-brush rect.brushed {
  fill: #FFAE1A;
}

.g-brush rect.background {
  fill: #F7F7F7;
  stroke: #CCCCCC;
  visibility: visible !important;
}

.g-brush rect.extent {
  fill: #F8ECB6;
  stroke: #FFAE1A;
  visibility: visible !important;
}

.g-brush .resize rect {
  fill: #808080;
  visibility: visible !important;
  width: 5px;
}

/* Line */
.g-line path {
  fill: none;
  stroke: #CCCCCC;
  stroke-width: 1px;
}

/* Scatter */
.g-scatter circle {
  fill: #808080;
  stroke: black;
  r: 3;
}
