body {
  background: #eceff1;
  padding: 50px;
}

.content {
  text-align: center;
}

svg {
  background: white;
  width: 960px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 2px #263238;
}
